/* Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  main styling  */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
.container {
  margin: auto;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
  text-emphasis-color: white;
}
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.text-primary {
  color: #f7c08a;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-primary {
  color: #333;
  background: #f7c08a;
}
.clr {
  clear: both;
}
  .l-heading {
    font-size: 40px;
    line-height: 1.2;
  }


/* NAvbar */
#navbar {
  background-color: #333;
  color: white;
  overflow: auto;
}
#navbar a {
  color: white;
}
#navbar .logo {
  float: left;
  padding-top: 20px;
  margin-left: 20px;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover,
#navbar ul li .current {
  background-color: #444;
  color: #f7c08a;
}

/*  Showcase*/

#showcase {
  background: url(../img/Showcase-image.jpg) no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: black;
  text-align: center;
  padding-top: 200px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content .lead {
  color: red;
  font-size: 25px;
}
#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.5em;
}
.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600px;
  color: white;
  background-color: #444;
  padding: 8px 12px;
}
.btn:hover {
  background-color: #f7c08a;
  cursor: pointer;
  color: brown;
}
#home-info {
  height: 450px;
}
#home-info .info-img {
  float: left;
  width: 50%;
  background: url(../img/photo-1.jpg) no-repeat;
  min-height: 100%;
}
#home-info .info-content {
  height: 100%;
  padding: 50px 30px;
  color: white;
  float: right;
  width: 50%;
  text-align: center;
  overflow: hidden;
}
#home-info .info-content p {
  padding-bottom: 30px;
}

/* features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}

/* About Info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  text-align: justify;
}
#about-info {
  padding: 20px;
}

#testimonials {
  padding: 30px;
  height: 100%;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  padding-top: 40px;
}
#testimonials .testimonial {
  border-radius: 5%;
  opacity: 0.9;
}
#testimonials h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial img {
  float: left;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form .btn {
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
  width: 70%;
  height: 45px;
  border: #ddd solid 1px;
}
#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  background: #ddd;
  border-color: aliceblue;
  outline: none;
}
/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}
